{% extends 'layout.html' %}
{% block content %}
  <h2>Voorstellingen</h2>
  {% for voorstelling in voorstellingen %}
    <div class="card">
      <div class="card-header">
        <b>{{ voorstelling.titel }}</b>
        <a class="float-end text-muted">{{ voorstelling.jaar }}</a>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-auto">
            <img src="/cdn/{{ voorstelling.path_thumbnail }}" class="rounded" width="200" />
          </div>
          <div class="col">
            <div class="container">
              <div class="row">
                {% if voorstelling.datum_van is not none %}
                <div class="col-md">
                  Data:
                </div>
                <div class="col">
                  van
                  {{ voorstelling.datum_van }}
                  {% endif %}
                  {% if voorstelling.datum_tot is not none %}
                    tot
                    {{ voorstelling.datum_tot }}
                  {% endif %}
                </div>
              </div>
              <div class="row">
                {% if voorstelling.locatie is not none %}
                <div class="col-md">
                  Locatie:
                </div>
                <div class="col">
                  {{voorstelling.locatie}}
                </div>
                {% else %}
                <div class="col-md">
                  Locatie:
                </div>
                <div class="col">
                  Onbekend
                </div>
                {% endif %}
              </div>
              <div class="row">
                {% if voorstelling.auteur is not none %}
                  <div class="col-md">
                    Auteur:
                  </div>
                  <div class="col">
                    {{voorstelling.auteur}}
                  </div>
                {% else %}
                <div class="col-md">
                  Auteur:
                </div>
                <div class="col">
                    Onbekend
                </div>
                {% endif %}
              </div>
              <div class="row">
                {% if voorstelling.regie is not none %}
                <div class="col">
                  Regie:
                </div>
                <div class="col">
                  {{voorstelling.regie}}
                </div>
                {% else %}
                <div class="col">
                  Regie:
                </div>
                <div class="col">
                  Onbekend
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <hr class="my-2" />
        <b>Cast & crew:</b>
        {% for i in range(0, (voorstelling.rollen|length)|int, 2) %}
        <div class="row">
          <div class="col">
            {% if voorstelling.rollen[i].qty_media > 0 %}
            {{ voorstelling.rollen[i].id_lid }} -
              <a href="/voorstelling_lid_media/{{ voorstelling.rollen[i].ref_uitvoering }}/{{ voorstelling.rollen[i].id_lid }}">
                {% for figuur in voorstelling.rollen[i].rol %}{{ figuur }}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}
              </a>
            {% else %}
              {{ voorstelling.rollen[i].id_lid }} - {% for figuur in voorstelling.rollen[i].rol %}{{ figuur }}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}
            {% endif %}
          </div>
          <div class="col">
            {% if i + 1 < (voorstelling.rollen|length) %}
              {% if voorstelling.rollen[i+1].qty_media > 0 %}
              {{ voorstelling.rollen[i+1].id_lid }} -
                <a href="voorstelling_lid_media/{{ voorstelling.rollen[i+1].ref_uitvoering }}/{{ voorstelling.rollen[i+1].id_lid }}">
                  {% for figuur in voorstelling.rollen[i+1].rol %}{{ figuur }}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}
                </a>
              {% else %}
                {{ voorstelling.rollen[i+1].id_lid }} - {% for figuur in voorstelling.rollen[i+1].rol %}{{ figuur }}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}
              {% endif %}
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% if voorstelling.qty_media > 0 %}
        <hr class="my-2" />
        <div class="clearfix"></div>
          <div class="d-grid">
            <a href="voorstelling_media/{{ voorstelling.ref_uitvoering }}" class="btn btn-primary btn-lg" view>Media ({{voorstelling.qty_media}})</a>
          </div>
        </div>
        {% endif %}
      </div>
    {% endfor %}
{% endblock %}
