{% extends "layout.html" %}
{% block content%}
    <h2>Welkom op het historisch archief van KNA Hillegom!</h2>

    <p>Toneelvereniging KNA in Hillegom bestaat al sinds 1930 en daar zijn we trots op! Met dit historisch archief kunt u uw eigen weg door de geschiedenis van KNA Hillegom afleggen.</p>

    <p>Hoe wilt u navigeren door de geschiedenis van KNA?
    </p>
    <hr class="my-2">
    <p>
        <ul>
            <a href="/leden" class="btn btn-primary">Leden</a><br>
        </ul>
        <ul>
            <a href="/voorstellingen" class="btn btn-primary">Voorstellingen</a>
        </ul>
    </p>
{% endblock content %}