{% extends 'layout.html' %}
{% block content %}
  <h2>Leden en anderen</h2>

  <p>Leden en anderen die ooit iets hebben bijgedragen aan KNA Hillegom</p>
  <div class="row">
    {% for lid in leden %}
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header">
              {{ lid.id_lid }}
              <a class="float-right text-muted">Lid sinds: {{ lid.Startjaar }}</a>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-md-auto">
                  <img src="/cdn/{{ lid.profielfoto }}" class="float-left" width="150" height="150" />
                </div>
                <div class="col">
                  {% for uitvoering in lid.uitvoeringen %}
                  <div class="row">
                    {% if uitvoering.qty_media > 0 %}
                      <a href="voorstelling_lid_media/{{ uitvoering.ref_uitvoering }}/{{ lid.id_lid }}">{{ uitvoering.ref_uitvoering }}</a>
                    {% else %}
                      {{ uitvoering.ref_uitvoering }}
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% if lid.qty_media > 0 %}
              <hr class="my-2" />
              <a href="lid_media/{{ lid.id_lid }}" class="btn btn-primary" view>Media ({{lid.qty_media}})</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
