{% extends "layout.html" %}
{% block content %}
<h2>Foto's van  {{ lid.naam }}</h2>
  <div class="overlay"><img src="blah" id="top" hidden=True>
    <span id="close" hidden=True onclick=do_close()><b><u>CLOSE(X)</u></b></span>
  </div>
  <div class="row">
  </div>
    {% for jaar in fotos %}
    <h3>{{jaar.jaar}}</h3>
    <div class="row">
    </div>
    <div id="accordionUitvoering">
      {% for uitvoering in jaar.uitvoering %}
      <div class="row">
      </div>
        <div class="card">
          <div class="card-header" id="heading{{uitvoering.uitvoering}}">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{uitvoering.uitvoering}}" aria-expanded="false" aria-controls="collapse{{uitvoering.uitvoering}}">
                {{uitvoering.uitvoering}}
              </button>
            </h5>
          </div>
          <div id="collapse{{uitvoering.uitvoering}}" class="collapse show" aria-labelledby="heading{{uitvoering.uitvoering}}" data-parent="#accordion{{uitvoering.uitvoering}}">
            {% for foto in uitvoering.fotos %}
            <!--- <div class="card-body"> --->
              <a href="/foto/{{ foto.path_photo }}"><img src='cdn/{{ foto.path_thumbnail }}'  width='auto' height='200' style='margin: 0.5em 0;' ></a>
              <!--- <div class="clearfix"></div> --->
            <!--- </div> --->
            {% endfor %}
          </div>
        </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}