{% extends "layout.html" %}
{% block content%}
<div class="row">
    <div class="col-md-12">
        <a href="javascript:window.history.back();" class="btn btn-primary" view>Terug</a>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <p>
                        <video width="640" height="480" controls>
                            <source src="cdn/{{ file_video }}" type="video/mp4">
                        </video>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}