{% extends "layout.html" %}
{% block content %}
<h2>Voorstellingen</h2>
  <div class="row">
    {% for voorstelling in voorstellingen %}
      <div class="col-md-6 mb-3 mb-4">
        <div class="card">
          <div class="card-header">
            {{ voorstelling.titel }}
            <a class="float-right text-muted">{{ voorstelling.jaar }}</a>
          </div>
          <div class="card-body">
            <img src="/cdn/{{ voorstelling.path_thumbnail }}" class="float-right" width="200" />
            {% for rol in voorstelling.rollen %}
              {{ rol.id_lid }} - {{ rol.rol }} <br />
            {% endfor %}
            <hr class="my-2">
            <div class="clearfix"></div>
            <a href="voorstelling_media/{{ voorstelling.ref_uitvoering }}" class="btn btn-primary" view>Media</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}