{% extends "layout.html" %}
{% block content %}
<h2>Media van {{ voorstelling }}</h2>
  <div id="accordionMediaType">
    {% for type_media in fotos %}
    <div class="row">
    </div>
    <div class="card">
      <div class="card-header" id="heading{{type_media.type_media}}">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{type_media.type_media}}" aria-expanded="false" aria-controls="collapse{{type_media.type_media}}">
            {{type_media.type_media}}
          </button>
        </h5>
      </div>
      <div id="collapse{{type_media.type_media}}" class="collapse show" aria-labelledby="heading{{type_media.type_media}}" data-parent="#accordion{{type_media.type_media}}">
        {% for bestand in type_media.bestanden %}
          <!--- <div class="card-body"> --->
          <a href="/foto/{{ bestand.path_photo }}"><img src="/cdn/{{ bestand.path_thumbnail }}"></a>
          <!--- <div class="clearfix"></div> --->
          <!--- </div> --->
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}