{% extends "layout.html" %}
{% block content %}
<h2>Leden en anderen</h2>

    <p>Alle voorstellingen</p>
  <div class="row">
    {% for voorstelling in voorstellingen %}
      <div class="col-md-6 mb-3 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ voorstelling.titel }}</h5>
            <p class="float-right text-muted">Uitgevoerd in {{ voorstelling.jaar }}</p>
            <!--- > <img src="cdn/{{ voorstelling.foto }}" width="200" height="200"> <--->
            <hr class="my-2">
            <div class="clearfix"></div>
            <a href="voorstelling_fotos/{{ voorstelling.ref_uitvoering }}" class="btn btn-primary" view>Media</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}