{% extends 'layout.html' %}
{% block content %}
  <h2>Voorstellingen</h2>
  <div class="row">
    {% for voorstelling in voorstellingen %}
      <div class="col-md-6 mb-3 mb-4">
        <div class="card">
          <div class="card-header">
            <b>{{ voorstelling.titel }}</b>
            <a class="float-right text-muted">{{ voorstelling.jaar }}</a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-auto">
                <img src="/cdn/{{ voorstelling.path_thumbnail }}" class="rounded" width="200" />
              </div>
              <div class="col">
                {% for rol in voorstelling.rollen %}
                  <div class="row">
                    {% if rol.qty_media > 0 %}
                      <a href="voorstelling_lid_media/{{ voorstelling.ref_uitvoering }}/{{ rol.id_lid }}">{{ rol.id_lid }} -
                        {% for figuur in rol.rol %}{{ figuur }}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}
                      </a>
                    {% else %}
                      {{ rol.id_lid }} - {% for figuur in rol.rol %}{{ figuur }}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
            {% if voorstelling.qty_media > 0 %}
              <hr class="my-2" />
              <div class="clearfix"></div>
              <a href="voorstelling_media/{{ voorstelling.ref_uitvoering }}" class="btn btn-primary" view>Media ({{voorstelling.qty_media}})</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
