{% extends "layout.html" %}
{% block content %}
<h2>{{ voorstelling }}</h2>
  <div id="accordionMediaType">
    {% for type_media in media %}
    <div class="row">
    </div>
    <div class="card">
      <div class="card-header" id="heading{{type_media.type_media}}">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{type_media.type_media}}" aria-expanded="false" aria-controls="collapse{{type_media.type_media}}">
            {{type_media.type_media}}
          </button>
        </h5>
      </div>
      <div id="collapse{{type_media.type_media}}" class="collapse show" aria-labelledby="heading{{type_media.type_media}}" data-parent="#accordion{{type_media.type_media}}">
        {% for file in type_media.files %}
          {% if file.file_ext == "pdf" %}
            <a href="/pdf/{{ file.path_media }}"><img src="/cdn/{{ file.path_thumbnail }}" width='auto' height='200' style='margin: 0.5em 0;'></a>
          {% elif file.file_ext == "mp4" %}
            <a href="/video/{{ file.path_media }}"><img src="/cdn/{{ file.path_thumbnail }}" width='auto' height='200' style='margin: 0.5em 0;'></a>
          {% else %}
            <a href="/image/{{ file.path_media }}"><img src="/cdn/{{ file.path_thumbnail }}" width='auto' height='200' style='margin: 0.5em 0;'></a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}